<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.megvii.ocr">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <activity
            android:name=".livenesslib.LivenessActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".idcardlib.IDCardScanActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>

    </application>

</manifest>
